html, body{
  background-color: var(--background-color1);
  margin: 0;
  padding: 0;
}
*{
  scroll-behavior: smooth;
}
:root{
  font-family: source-serif-pro, Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-size: 18px;
  --text-color1: grey;
  --text-color2: #9f5927;
  --background-color1: #232323;
}
a{
  text-decoration: none;
  color: inherit;
}
#navbar{
  background-color: var(--background-color1);
  width: 100vw;
  height: 60px;
  position: fixed;
  color: var(--text-color2);
  display: flex;
  flex-direction: row;
  z-index: 1;
}
p{
  margin-right: 20px;
}
#name{
  font-size: 1.25em;
  margin-top: 15px;
  margin-right: 30px;
  margin-left: 20%;
}
.social-icons{
  position: absolute;
  display: flex;
  gap: 15px;
  font-size: 1.5em;
  margin-top: 13px;
  margin-left: 72%;
}
#welcome-section{
  color: var(--text-color1);
  position: absolute;
  margin-top: 40px;
  width: 55%;
  height: calc(100vh-60px);
}
#description{
  margin-left: 4%;
  text-align: left;
}
.headers{
  scroll-margin-top: 80px;
  text-align: left;
  text-align: center;
}
.gap{
  margin-bottom: 30px;
}
.timeframe{
  font-family: Inter;
  font-size: 0.8em;
}
.timeframe-one{
  margin-bottom: -5px;
}
.thin-line{
  height: 1px;
  background-color: var(--text-color1);
  position: relative;
  width: 130px;
  left: 130px;
  bottom: 4px;
}
#welcome-section a{
  color: var(--text-color2);
  position: absolute;
  margin-left: 4%;
  padding-top: -15px;
}
#projects{
  position: fixed;
  margin-left: 57%;
  width: 40%;
  height: calc(95vh - 80px);
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* Consider creating a new way to show the projects, with a list 
  already displayed that creates this glassy background on hover.
  This would require you to change the HTML and the whole structure. */
}
.project{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.1);
  height: 50%;
  visibility: hidden;
}
.project:hover{
  visibility: visible;
}
li{
  color:white;
  position: absolute;
  top: 5%;
  
}
@media (max-width: 1600px){
  #name{
    margin-left: 16%;
  }
  .social-icons{
    margin-left: 76%;
  }
}
@media (max-width: 1000px){
  #name{
    margin-left: 10%;
  }
  .social-icons{
    margin-left: 78%;
  }
}
@media (max-width: 900px){
  #name{
    margin-left: 5%;
  }
  .social-icons{
    margin-left: 78%;
  }
  .headers{
    font-size: 28px;
  }
  #welcome-section a{
    padding-bottom: 50px;
  }
}
@media (max-width: 700px){
  #navbar p a{
    display: none;
  }
  #name{
    margin-left: 5%;
  }
  .social-icons{
    margin-left: 79%;
  }
  #welcome-section{
    width: 100%;
  }
  #projects{
    position: absolute;
    margin: 0 auto;
    width: 80%;
    left: 9%;
    top: 100%;
  }
}
@media (max-width: 650px){
  .social-icons{
    margin-left: 77%;
  }
}
@media (max-width: 600px){
  .social-icons{
    margin-left: 75%;
  }
}
@media (max-width: 550px){
  .social-icons{
    margin-left: 73%;
  }
}
@media (max-width: 500px){
  .social-icons{
    margin-left: 71%;
  }
}
@media (max-width: 450px){
  .social-icons{
    margin-left: 69%;
  }
}
@media (max-width: 400px){
  .social-icons{
    margin-left: 67%;
  }
}
