html, body {
  background-color: var(--background-color1);
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 100vh;
}

* {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, source-serif-pro, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-size: 18px;
  --text-color1: grey;
  --text-color2: #9f5927;
  --background-color1: #232323;
}

a {
  text-decoration: none;
  color: inherit;
}

#navbar {
  background-color: var(--background-color1);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-color2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  z-index: 1;
  transition: 0.2s ease;
}

.about_me {
  padding-left: 10px;
}

.about_me:hover, .education:hover, .projects:hover {
  text-decoration: underline;
}

.left {
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 1.5em;
  align-items: center;
  margin-right: 3vw;
}

#name {
  font-size: 1.35em;
  padding: 0px;
}

#name:hover {
  cursor: pointer;
}

/* Below navbar */

#landing {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  margin: 25vh auto 0;
  margin-left: 13%;
  width: 64vw;
}

#landing_text {
  display: flex;
  flex-direction: column;
  margin: 1% auto 0;
  width: 50%;
  color: var(--text-color1);
  text-align: center;
}

.polaroid {
  width: fit-content;
  padding: 10px 10px 25px 10px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
}

.polaroid .image {
  display: block;
  border: 1px solid black;
  width: 200px;
  height: 260px;
}

.main_header {
  margin-bottom: 0px;
}

.section_one {
  color: var(--background-color1);
  height: calc(100vh - 60px);
  width: 100vw;
  margin-top: 60px;
  border: 1px solid #232323;
}

/* Below landing page */

#navbar.translucent {
  background: rgba(35, 35, 35, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.2s ease, color 0.2s ease;
  color: white;
}

.glass {
  background: radial-gradient(rgba(235, 150, 115, 0.4), rgba(80, 96, 183, 0.4));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100vw;
  height: 100vh;
}

#ab_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  scroll-margin-top: 0;
  color: rgba(255, 255, 255, 0.623);
  padding-top: 50px;
  height: calc(50% - 62px);
}

.ab_text {
  margin: 0 auto;
  width: 80%;
  color: rgba(255, 255, 255, 0.623);
  overflow-wrap: break-word;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

#lower_content {
  display: table;
  align-items: center;
  color: rgba(255, 255, 255, 0.623);
  width: 100%;
  text-align: center;
  height: 50%;
}

.techs {
  display: table-cell;
  width: 50%;
}

.t_header { 
  padding-bottom: 16px;
  font-size: 24px;
}

.t_content {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 80%;
  height: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-wrap: normal;
  padding-top: 2%;
}

.pictures {
  display: table-cell;
  width: 50%;
}

.tech_images {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

/* Below about me */

.education_header { 
  color: var(--text-color2);
  margin: 0 auto;
}

@media (max-width: 1150px) {
  #landing { 
    width: 85vw;
    margin-left: 0%;
  }

  #landing_text {
    margin-left: 12%;
  }
}

@media (max-width: 850px) {
  #landing {
    flex-direction: column;
    margin: 6% auto 0;
  }

  #landing_text {
    width: 75%;
    margin-bottom: 10%;
  }

  img, .polaroid {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  #landing {
    margin-top: 4%;
  }

  #landing_text {
    margin-bottom: 10%;
  }

  .about_me, .education, .projects {
    display: none;
  }

}

@media (max-width: 450px) {
  .social-icons { 
    display: none;
  }
}
